<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Todo App</title>
</head>

<body>
		<div>
			<h1>My Todo List</h1>
			
<!-- Routing to the /add-item section of the main application -->

			<form action="/add-item" method="post">
				<div>
					<label>Add Item</label>
					<input type="text" name="data" placeholder="Enter what you want to do... ">
					<button type="submit">Add</button>
				</div>
			</form>
		</div>
		
		<!-- Using jinja templating to generate the div blocks of all tasks in database passed from main function -->
		{% for i in all_items %}
		<div>
			<p> {{ i.id }}  -  {{ i.name }}</p>
		</div>
		{% endfor %}
</body>

</html>
