<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Todo App</title>

<!-- Using Semantic UI for bilding the style of the web-page by linking the url like bootstrap-->

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">
    <script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>
</head>

<body style="margin: 0; padding: 0;">
		<div class="ui container">
			<h1 class="ui center aligned header" style="padding-top: 50px;">My Todo List</h1>
			{% if message %}
			<h4 style="text-align: center;">{{ message }}</h4>
			{% endif %}

<!-- Routing to the /add-item section of the main application -->

			<form class="ui form" action="/add-item" method="post">
				<div class="field">
					<label><h3>Add Task to the list :</h3></label>
					<span><input type="text" name="data" placeholder="Enter what you want to do... " autocomplete="off"></span>
					<button class="ui blue button" type="submit">Add Task</button>
				</div>
			</form><hr style="margin-top: 25px;">
		
<!-- Using jinja templating to generate the div blocks of all tasks in database passed from main function -->
			<h3>Current Tasks in the list :</h3>
			{% for i in all_tasks %}
			<div class="ui segment">
				<p class="ui big header"> =>   {{ i.name }}</p>
				
				{% if i.state == True %}
				<span class="ui green label">Task Completed</span>
				{% else %}
				<span class="ui gray label">Task Pending</span>
				{% endif %}
				
	<!-- Redirecting to (mark-item with unique id url) along with passing the task to the page -->

				{% if i.state == True %}
				<a class="ui blue button" href="/mark-item/{{ i.id }}">Mark as Undone</a>
				{% else %}
				<a class="ui blue button" href="/mark-item/{{ i.id }}">Mark as Done</a>
				{% endif %}

	<!-- Redirecting to (delete-item with unique id url) along with passing the task to the page -->

				<a class="ui red button" href="/delete-item/{{ i.id }}">Delete</a>
			</div>
			{% endfor %}

		</div>
</body>

</html>
