<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{{ url_for('static', filename='main.css') }}" rel="stylesheet"/>
    <title>Todo App</title>
</head>

<body>
		<div>
			<h1>My Todo List</h1>
			{% if message %}
			<p>{{ message }}</p>
			{% endif %}
<!-- Routing to the /add-item section of the main application -->
			<form action="/add-item" method="post">
				<div>
					<label>Add Item</label>
					<input type="text" name="data" placeholder="Enter what you want to do... ">
					<button type="submit">Add</button>
				</div>
			</form>
		</div>
		
<!-- Using jinja templating to generate the div blocks of all tasks in database passed from main function -->
		
		{% for i in all_tasks %}
		<div>
			<p> {{ i.id }}  -  {{ i.name }}</p>
			
			{% if i.state == True %}
			<span>Task Completed</span>
			{% else %}
			<span>Task Pending</span>
			{% endif %}
			
<!-- Redirecting to (mark-item with unique id url) along with passing the task to the page -->
			<a href="/mark-item/{{ i.id }}">Mark as Done</a>
			
<!-- Redirecting to (delete-item with unique id url) along with passing the task to the page -->
			<a href="/delete-item/{{ i.id }}">Delete</a>
			
		</div>
		{% endfor %}
</body>

</html>
